.wrapper {
    align-content: center;
    text-align: center;
    align-items: center;
}

.homepage {
    height: 500px;
    width: 500px;
    align-items: center;
}

.homeButtons{
    align-items: center;
    display: inline-block;
    margin: 10px;
    text-align: center;
}